<launch>
	<!-- Launch Gazebo -->
	<include file="$(find arm_description)/launch/world.launch"/>
	<!-- ros_control seven dof arm launch file -->

	<include file="$(find arm_description)/launch/states.launch"/>
	

	<!-- ros_control position control dof arm launch file -->
	<!--<include file="$(find arm_description)/launch/position.launch" />-->

	<!-- ros_control trajectory control dof arm launch file -->
	<include file="$(find arm_description)/launch/trajectory_controller.launch"/>

	<!-- moveit launch file -->
	<include file="$(find arm_config)/launch/moveit_planning_execution.launch"/>
</launch>	